body {
    font-family: Arial;
    background-color: #f8f9fa;
    text-align: center;
}

/*Make player images look nicer*/
#player-image {
    width: 200px;
    border-radius: 10px;
  }

  /* style input box */
input {
    padding: 10px;
    width: 80%;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* style button */
button {
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #218838;
}

#result {
    font-size: 18px;
    margin-top: 10px;
}

.row {
    margin-top: 20px;
    display: flex;
    justify-content: space-between; /* Space between columns */
}

.col {
    max-width: 200px; /* Set the maximum width */
    min-height: 100px;
    width: 100%;      /* Allow the column to grow up to max-width */
    justify-content: center;
    align-items: center;
}

.lineup-object {
    background-color: #ccc; /* Gray background */
    width: 120px;
    padding: 5px;
    text-align: center;
    border-radius: 10px; /* Rounded corners */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lineup-object img {
    border-radius: 50%;  /* Make the image circular */
}

.lineup-object p {
    margin-top: 10px;  /* Space between the image and name */
    font-size: 14px;  /* Adjust font size */
    color: #333;  /* Dark text color */
    margin: 0;
}