{% extends "base.html"%}
{% block title %}Game {% endblock %}
{% block content %}

<div class="container text-center mt-5">

    <h1 class="text-primary">Guess the player:</h1>

    <!-- Display player image -->
    <div class="my-4">
        <img class="img-fluid rounded silhouette" src="{{ player['headshot'] }}" id="player-image" draggable="true">
    </div>

    <!-- Get player input -->
    <div class="input-group mb-3 w-50 mx-auto">
        <input type="text" id="player-guess" class="form-control"
               placeholder="Enter Player Name"
               data-correctguess="{{ player['firstName']['default'] }} {{ player['lastName']['default'] }}">
        <button class="btn btn-success" id="submit-btn">Submit</button>
    </div>

    <p id="result"></p>

     <!-- Get new player button -->
    <button class="btn btn-primary mt-3" id="next-player-btn">Next Player</button>

</div>

 <div class="container">
    <div class="row gap-2 mb-4">
        <div class="col" id="LW1">
            <div class="fwd-object-container border border-dark rounded p-3"></div>
        </div>
        <div class="col" id="C1">
            <div class="fwd-object-container border border-dark rounded p-3"></div>
        </div>
        <div class="col" id="RW1">
            <div class="fwd-object-container border border-dark rounded p-3"></div>
        </div>
    </div>
    <div class="row gap-2 mb-4">
        <div class="col" id="LW2">
            <div class="fwd-object-container border border-dark rounded p-3"></div>
        </div>
        <div class="col" id="C2">
            <div class="fwd-object-container border border-dark rounded p-3"></div>
        </div>
        <div class="col" id="RW2">
            <div class="fwd-object-container border border-dark rounded p-3"></div>
        </div>
    </div>
    <div class="row gap-2 mb-4">
        <div class="col" id="LW3">
            <div class="fwd-object-container border border-dark rounded p-3"></div>
        </div>
        <div class="col" id="C3">
            <div class="fwd-object-container border border-dark rounded p-3"></div>
        </div>
        <div class="col" id="RW3">
            <div class="fwd-object-container border border-dark rounded p-3"></div>
        </div>
    </div>
    <div class="row gap-2 mb-4">
        <div class="col" id="LW4">
            <div class="fwd-object-container border border-dark rounded p-3"></div>
        </div>
        <div class="col" id="C4">
            <div class="fwd-object-container border border-dark rounded p-3"></div>
        </div>
        <div class="col" id="RW4">
            <div class="fwd-object-container border border-dark rounded p-3"></div>
        </div>
    </div>
</div>



<script src="{{ url_for('static', filename='js/game.js') }}"></script>

{% endblock %}